<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>signUp</title>
</head>
<body>
<form class="signup-form" action="/member" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div class="row">
        <div class="input-field col s12">
            <input id="user_id" name="userId" type="text" class="validate"/>
            <label for="user_id">UserId</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="user_name" name="userName" type="text" class="validate"/>
            <label for="user_name">UserName</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="email" name="userEmail" type="email" class="validate"/>
            <label for="email">Email</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="password" name="userPassword" type="password" class="validate"/>
            <label for="password">Password</label>
        </div>
    </div>
    <input class="signup-btn waves-effect waves-light-btn" type="submit" value="가입하기">
</form>
</body>
</html>